logs/
__pycache__/
*.pyc
.ipynb_checkpoints/
results/smoke/
results/cgm_absorption_488530_20fps.mp4
results/cgm_absorption_488530_24fps.mp4
results/cgm_absorption_488530_30fps.mp4
results/cgm_absorption_488530_40fps.mp4
frames.txt
